.ProductCard{
    display: block;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(254, 233, 191); */
    background-color: #f7f7f7;
    padding: 25px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    transition: 1s;
    margin: 10px;
    border: 1px solid #ddd;
    
    border-radius: 10px;
}
.ProductCard:hover{
    box-shadow: inset 3px 3px 5px 1px #a3a3a3;
}
/* .image{
    width: 230px;
    border: 1px solid rgb(63, 63, 63);
    /* position: relative; 
    transition: 1s;
}
.image:hover{
    transform: scale(1.1);
}
.img{
    transition: 1s;
}
.img:hover{
    transform: scale(0.9);
} */
