@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.ProductCard{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding: 30px;
    text-align: center;
    width: 320px;
    height: 460px;
    cursor: pointer;
    transition: 1s;
    text-decoration: none;
    color: black;
    margin: 10px;
    border: 1px solid #ddd;
    position: relative;
    
    border-radius: 10px;
}
.tags{
    border: none;
    border-radius: 0 0 0 10px;
    padding: 5px 10px;
    font-size: 12px;
    width: 100px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: 0.5s;
    background-color: #f58b8b;
    color: #333;
    }
    /* .tags:hover{
        background-color: #333;
        color: #f7f7f7;

} */
.btn-box{
    margin: 20px 0;
    text-align: center;
}
.ProductCard:hover{
    box-shadow: inset 3px 3px 5px 1px #a3a3a3;
}
.Productimg{
    height:230px;
}

 .cards-title{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 15px;
    font-style: normal;
 }
 @media screen and (max-width:1000px) {
   
    .ProductCard{
        padding: 20px;
    }
} 

