@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.logo{
    height: 70px;
    margin-left: 20px;
    border-radius: 10px;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 1px solid rgba(99, 92, 92, 0.1);
    box-shadow: 0 0 10px gray;
    position: fixed;
    z-index: 10;
    font-family: "Merriweather", serif; 
}
.menuicon{
    height: 30px;
    display: none;
}
.nav-item-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
   
}
.nav-item{
    font-size: 19px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.sign-up{
    color: #fff;
    width:50px;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: tomato;
    text-decoration: none;
    border: none;
    border-radius: 5px;
   
}

@media screen and (min-width: 769px) and (max-width: 992px){
  
    .sign-up{
        padding: 7px 15px;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px){
      
    .logo{
        height: 60px;
    }

    .navbar-container{
      
        height: 70px;
        
    }
    .nav-item-container{
        width: 60%; 
    }
  
    .sign-up{
        padding: 5px 10px;
        font-size:14px;
    }
    .nav-item{
        font-size: 16px;
        
    }

}

@media screen and (min-width: 500px) and (max-width: 599px){

     
    .logo{
        height: 50px;
        margin-left: 10px;
    }

    .navbar-container{
      
        height: 65px;  
    }
    .nav-item-container{
        width: 65%; 
    }
  
    .sign-up{
        padding: 5px 8px;
        font-size:13px;
    }
    .nav-item{
        font-size: 15px;
        
    }
}
@media screen and (min-width: 400px) and (max-width: 499px){
    
    .logo{
        height: 45px;
       
    }

    .navbar-container{
      
        height: 60px;  
    }
    .nav-item-container{
       display: none;
    }
  
    .sign-up{
        padding: 5px 8px;
        font-size:13px;
    }
   
}