@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.banner-img{
    margin: 0;
    padding: 0;
}
.main-div{
    margin: 2% auto;
    display: flex;
    

}
.Sub-title{
     font-family: "Playwrite FR Moderne", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 23px;

}
.Slogun{
    font-family: "Playwrite FR Moderne", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 35px;
    color:  rgb(245, 212, 168);
    text-align: center;
    margin: 10% auto;
}
.pcardsContainers{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    /* justify-content: center;
    align-items: center; */
    width: 70%;
    /* background-color: #f7f7f7;
    border: 1px solid #ddd; */
    border-radius: 10px;
    margin-bottom: 10%;
}
ul{
    font-size: 20px;
    padding: 0;
    margin: 0;
    grid-row: 10px;
}
.list-2,li{
    margin-left: 30px;
    margin-bottom: 20px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.tag-btn{
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid #ddd ;
    margin: 10px;
    font-size: 18px;
    transition: .7s;
}
.tag-btn:hover{
    background-color: rgb(245, 212, 168);
}
.categories-div{
    width: 25%;
    padding: 10px;
    margin: 10px;
}
@media screen and (max-width:1000px) {
    .main-div{
        display: block;
    }
    .pcardsContainers{
        width: 100%;
        justify-content: space-around
    }
}