@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.heading {
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #232323;
    padding: 10px;
    font-family: "Playfair Display", serif;
    margin-bottom: 30px;

}

.container-1 {
    width: 80vw;
    height: 1500px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 40px;
}

.form {
    margin-top: 150px;
    font-family: "Playfair Display", serif;
}

label {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 500;
}

.button {
    background-color: #EAAA85;
    font-weight: 500;
    font-family: "Playfair Display", serif;
    border: none;
    border-radius: 0px;
    padding: 10px 50px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon {
    font-size: 27px;
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;
}

.margin {
    margin-bottom: 50px;
    margin-top: 10px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 20px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.timer{
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 500;
    width: 160px;
    text-align: center;
    padding: 10px;
    font-family: "Playfair Display", serif;
    margin-bottom: 30px;
    display: block;
    margin: 10px auto;
}

.spec{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 768px) {
    .heading{
        text-align: center;
        font-size: 35px;

   }
   h2{
    font-size: 40px;
   }
   
    .container-1 {
        width: 90vw;
        height: 1800px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }

    .img-1 {
        width: 100px;
    }
    .img-2 {
        width: 170px;
    }
}

@media screen and (max-width: 992px) {
    
    .container-1 {
        width: 90vw;
        height: 1870px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    h2{
        font-size: 40px;
       }
    .img-1 {
        width: 30%;
    }
    .img-2 {
        width: 200px;
    }
}