.section1{
    position: relative;
}
.text-on-image{
    position: absolute;
    left: 5%;
    bottom: 30%;
}
.title-bg{
    width: 1500px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.cosmetic-types-data{
    display: flex;
    flex-direction: row;
    margin: 150px;
}
.cosmetic-types-data-1{
   border:  1px solid gray;
   padding: 10px;
   margin: 20px;
}
.cosmetic-types-data-2{
    margin: 80px;
}
.cosmetic-types-data-2-text{
    text-align: left;
    width: 580px;
}

.types-images{
    display: flex;
    flex-direction: row;
}
.type-img{
    height: 70px;
    margin: 50px;
    background-color: #f5e0d2;
    border-radius: 50%;
    padding: 2px;
    
}
.img-text{
    margin-top: -40px;
    text-align: center;
}
.section3-sub{
    text-align: center;
}
.section3-description{
    width: 450px;
    margin-left: 520px;
}
.section3-sub2{
    display: flex;
    flex-direction: row;
    margin-left: 180px;
   
}
.section3-sub2-div{
    width: 180px;
    margin: 50px;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    border-top-left-radius: 50px ;
    border-bottom-right-radius: 50px;
   text-align: center;
   padding-top: 5px;
}
.Datatext{
    margin-left: 20px;
    margin-bottom: -6px;
    margin-top: -1px;
}
.section4{
  margin-left: 230px;
  margin-top: 30px;
}