.footer {
    background-color: black;
    width: 100%;
    box-shadow: 0 0 10  gray; 
    /* position: relative;
    bottom: 0; */
   
  } 

 .footer-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;

 }
 .img {
    height: 250px;
    width: 280px;
    margin: 10px;
    border-radius: 10px;
 }
 .quick-links {
    height: 230px;
    width: 150px;
    color: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
 }
 .links{
 text-decoration: none;
 color: white;
 }

 .useful-links {
    height: 230px;
    width: 150px;
    color: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
  
 }

 .contact {
    height: 230px;
    width: 240px;
    color: white;
    padding: 20px 20px;
    text-align: center;
  
 }
 .footer-icon {
    height: 28px;
    margin: 10px;
    margin-top: 40px;
 }
