.banner-container{
    position: relative;
    
}
.background-img{
    width: 100%;
    height:600px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
    
}
.description-container{
    position: absolute;
    top:50px;
    left: 30px;
    width: 250px;
}


.btn-discover{
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid #ddd ;
    margin: 20px;
    font-size: 18px;
    transition: .7s;
}
.btn-discover:hover{
    background-color: rgb(245, 212, 168);
}