
.cat-img{
    height: 400px;
    border: 1px black solid;
    border-radius: 20px;
    opacity: 70%;

}
.cat-img:hover{
    transform: scale(1.1);
    transition: 3.3s;
    opacity: 100%;
    
   
}
.cat-name{
    margin: 60px;
    position:absolute;
    top:90px;
    left:90px;
}
