.product-card {
  padding: 20px;
  margin: 25px 0px;
  text-align: center;
  position: relative;
  width: 300px;
  border: 1px solid black;
}
/*.product-card :hover{
  box-shadow: inset 3px 3px 5px 1px #a3a3a3;
}*/

.product-info {
  margin-top: 10px;
}

.rating {
  color:#EAAA85;
}
.productImg{
  width: 250px;
}
