

.headingFont{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}
.subHeadingFont{
    font-family: "Playwrite FR Moderne", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 23px;
}
.pcardsContainers3{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    /* background-color: #f7f7f7;
    border: 1px solid #ddd; */
    border-radius: 10px;
    margin-bottom: 10%;
}

.descriptionFont{
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}
