.heading{
    font-size: 40px;
    margin: 10px auto;
    text-align: center;
    color: #232323;
}
.main-container{
    background-color:#EAAA85;
    height: 600px;
    margin: auto 400px;
    display: inline-block;
    
}
.profile-img{
    height: 200px;
    margin-bottom: 30px;
    background-color: #F5E0D2;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
    
}

.container{
    background-color:#EAAA85;
}

.input-name{
    font-size: 20px;
    margin: 10px;
    margin-top: 10px;
}
.input-box{
    width: 500px;
    height: 20px;
    padding: 10px;
    margin: 6px;
    font-size: 15px;
}
.submit-btn{
    margin: 50px;
    width: 450px;
    height: 40px;
    background-color: rgb(150, 223, 150);
    color: black;
    border-radius: 5px;
    font-size: 20px;

}
.last-container{
    background-color: rgb(174, 134, 141);
    height: 80px;
}
.cancel-btn{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(241, 60, 60);
    margin: 20px;
    
}
.chk-box{
    font-size: 20px;
}