@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-view-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    cursor:pointer;
}
.product-img{
    height: 400px;
    width: 400px;
    transition: .8s;
    cursor:pointer;
    padding: 20px;
    border: 2px double  #aaa;
}

.product-img:hover{
    box-shadow: 10px 10px 15px 5px #aaa;
    border: 1px double #ddd;
}
.product-img-container{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 10%;
    width: 30%;
    transition: 1s;
}
.product-img-container:hover{
   
}
.Dis-container{
    width: 30%;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    height: auto;
position: relative;
}
.title{
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}
.discription{
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.Related-content-heading{
    display: block;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    margin: 20px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    text-decoration:wavy;
}
.pcardsContainers2{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.use-discription-container{
    
    display: flex;
}
.Ingrediants-container{
    width: 50%;
    padding: 50px;
    border-right: 2px solid #aaa;
    height: auto;
}
.Ingridiant-title{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 50px;
    
}
.Uses-heading{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    margin-left: 10%;
    margin-bottom: 50px;
}
.star-img{
    height: 25px;
    margin-left: 2px;
    margin-bottom: 12px;
}
.Uses-container{
    width: 50%;
    padding: 50px;
}
.howtouse-containt{
    display: block;
  text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}
@media screen and (max-width: 1000px) and (min-width:900px){
    .product-img-container{
        margin: 5%;
    }

}
@media screen and (max-width: 900px) {
    .product-img{
        height: 300px;
        width: 300px;
    }
    .product-img-container{
        
    }

    .main-view-container{
        display: block;
    }
    .Dis-container{
        width: 100%;
    }
    .use-discription-container{
        display: block;
    }
    .Ingrediants-container{
        width: 100%;
    }
    .Uses-container{
        width: 100%;
        padding: 20px;
    }
}